*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(147, 197, 253, 1);
}

.bx1 {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(17, 24, 39, 1);

  h1 {
    font-size: 1.8em;
    font-family: "Courier New", Courier, monospace;
    color: rgba(251, 191, 36, 1);
  }
}

.bx2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;

  textarea {
    height: 40%;
    width: 80%;
    max-width: 308px;
    max-height: 148px;
    padding: 0.6em;
  }

  button {
    padding: 0.6em 1em;
    background-color: rgba(251, 191, 36, 1);
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
  }
}

.bx3 {
  height: 100%;
  width: 100%;
  //   margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  //   flex-wrap: wrap;
  padding: 2em 0.4em;

  h2 {
    font-family: "Courier New", Courier, monospace;
  }

  a {
    text-decoration: none;
    font-size: 1em;
    color: black;
  }
}
